#conteudo {
    background-color: #C55E5E;
    min-height: 100vh;
    padding: 10px 0px;
    margin: 0;
}

#conteudo .btn-large {
    width: 100%;
    background-color: #ffeae2;
    color: #da4c56;
    font-weight: bold;
}

#conteudo .linha-logomarca {
    display: flex;
    align-items: center;
}

#conteudo .img-area {
    text-align: center;
}

.img-apagado, .img-aceso {
    display: none;
}

.mostrar-imagem  {
    display: inline !important;
}

.textarea {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffeae2;
    font-weight: bold;
}

.textarea i {
    cursor: pointer;
    font-size: 4em;
    margin-left: 5px;
}

.textarea .tempo {
    font-size: 6em;
}

body {
    background-image: url(./assets/pomodoro-inicial.jpg);
}

#pagina-login {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

#registrar-form {
    position: relative;
    z-index: 1;
    background: rgba(195, 2, 2, 0.158);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: none;
    text-align: center;
}

#login-form {
    position: relative;
    z-index: 1;
    background: rgba(195, 2, 2, 0.158);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: none;
    text-align: center;
}

#form input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: lightgray;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#form button {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background:  rgba(57, 195, 2, 0.89);
    width: 100%;
    border: 0;
    padding: 15px;
    color: white;
    cursor: pointer;
}

#form button:hover, #form button:active {
    background: #43A047;
}

#form .mensagem {
    margin: 15px;
    color: aliceblue;
    font-size: 13px;
}

#form .mensagem a {
    color: rgba(128, 0, 0, 0.986);
    text-decoration: none;
}

#form #registrar-form {
    display: none;
}

.field {
    border-color: rgba(195, 2, 2, 0.158);
}